body {
    margin: 0;
    padding: 0;
    background-color: #FEFEFE;
    font-family: 'Inter', sans-serif;
}

/* NAV BAR */

nav {
    background-color: #FEFEFE;
    height: 76px;
    border-bottom: 1px solid #ffffff;
    position: fixed; 
    color: #000;
    top: 0; 
    width: 100%;
    z-index: 1000;
}


.navbar-content {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
}

.logo{
    font-size: 25px;
    margin-left: 30px;
    color: #363636;
    font-weight: 200;
}

.navbar-buttons {
    display: flex;
}

.navbar-button {
    font-size: 15px;
    color: #363636;
    margin: 0 15px;
    cursor: pointer;
    text-decoration: none;
}

.login-button {
    border-radius: 11px;
    width: 71px;
    height: 39px;
    background-color: #FF5F47;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.login-button button {
    font-size: 15px;
    color: #FEFEFE;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.new-label {
    background-color: #ffffff;
    color: #000000;
    width: 43px;
    height: 20px;
    display: inline-block;
    text-align: center;
    font-size:10px;
    border-radius: 10px;
    margin-left: 10px;
    line-height: 20px;
}
.navbar-button a {
    text-decoration: none; 
    color: #363636;
}


/* DASHBOARD */

.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 76px;
}

.dashboard-content {
    margin-top: 30px;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

/* METRICS */

.metrics {
    width: 793px;
    height: 512px;
    border-radius: 30px;
    background: #121212;
    margin-right: 20px;
}

.metrics-content {
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    padding: 30px;
}

.metrics-chart {
    width: 495px;
    height: 252px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #2D2D2D;
}

.metrics-chart-content {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 35px;
}

/* PRICE CHART */

.price-chart {
    width: 209px;
    height: 252px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #2D2D2D;
}

.price-chart-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* COMING SOON */

.coming-soon {
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.label {
    background-color: #2D2D2D;
    display: flex;
    width: 108px;
    height: 20px;
    border-radius: 10px;
}

.crypto-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 160px;
}

.crypto {
    background-color: #2D2D2D;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    height: 22px;
}

/* PROFILE */

.profile {
    width: 385px;
    height: 517px;
    flex-shrink: 0;
    border-radius: 35px;
    background: #121212;
}

.profile-content {
    display: flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: column;
    color: #ffffff;
    padding: 40px;
    font-size: 20px;
}

.profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-picture {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    background-color: #dedede;
    border-radius: 100px;
    cursor: pointer;
}

.profile-header h3 {
    font-weight: 100;
}

.balance {
    display: flex;
    width: 100%;
}

.balance-content p{
    font-size: 15px;
    font-weight: 100;
}
.balance-content h2 {
    font-size: 30px;
    font-weight: 400;
}

.buttons {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.button-circle-buy
,.button-circle-sell {
    background-color: #dedede;
    width: 54px;
    height: 54px;
    border-radius: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.button-circle-send
,.button-circle-withdraw {
    background: #2D2D2D;
    width: 54px;
    height: 54px;
    border-radius: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
}


.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-content p {
    font-size: 15px;
}

.history {
    margin-top: 20px;
    background-color: #2D2D2D;
    width: 301px;
    height: 117px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}